<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content">
    <h1>Welcome to Le Cocktail</h1>
    <p>Grab a cocktail</p>
  </div>
</div>

<% @cocktails.each do |cocktail| %>
<h3> <%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
<% end %>






