// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.space {
  padding-top: 200px;
  margin: 10px 0;
}

.cocktail-show {
  height: 70vh;
  width: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F4F4F4;
  text-shadow: 1px 1px 1px #000000;
  padding: 30px;
}

